<p id="notice"><%= notice %></p>

<h1>Legislators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      <th>Year Elected</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legislators.each do |legislator| %>
      <tr>
        <td><%= legislator.number %></td>
        <td><%= legislator.first_name %><%= legislator.last_name %></td>
        <td><%= legislator.party %></td>
        <td><%= legislator.year_elected %></td>
        <td><%= link_to 'Show', legislator %></td>
        <td><%= link_to 'Edit', edit_legislator_path(legislator) %></td>
        <td><%= link_to 'Destroy', legislator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legislator', new_legislator_path %>
