<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>

  <%= @legislator.first_name %>
  <%= @legislator.last_name %>

</p>

<p>
  <strong>Party:</strong>
  <%= @legislator.party %>
</p>





<%= link_to 'Edit', edit_legislator_path(@legislator) %> |
<%= link_to 'Back', legislators_path %>
