<%= form_for(bill_comment) do |f| %>
  <% if bill_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill_comment.errors.count, "error") %> prohibited this bill_comment from being saved:</h2>

      <ul>
      <% bill_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
